
  
  .link {
    width: 100px;
    height: 18px;
    text-align: center;
    position: relative;
    cursor: pointer;
  }
  
  .menu {
    opacity: 0;
    position: absolute;
    top: 40px; 
    left: 0;
    background: #ededed;
    border: 1px solid gray;
    padding: 10px;
    text-align: center;
    transition: all 100ms ease;
  }
  
  .menu.open {
    opacity: 1;
  }
  
  ul {
    width: 100px;
    margin: 0;
    padding: 0;
    list-style: none;
  }